<nav id='mobile-nav'>
    <ul>
        <li>
            <%= link_to '#', class: 'opener' do %>
                <span class='icon-reorder'></span>
            <% end %>
        </li>
    </ul>

    <%# TODO restore this %>
    <%= header_menu ul: {class: 'mobile-nav-dropdown'} %>
</nav>

<nav id='mainnav'>
    <%# TODO restore this %>
    <%#= header_menu %>
</nav>
