<div class='container'>
    <div class='vsap2'></div>
    <div class='vsap2'></div>
    <div class='vsap2'></div>
    <div class='vsap2'></div>

    <h2 class='text-center'>Unauthorized</h2>

    <div class='vsap2'></div>
    <div class='vsap2'></div>
    <div class='vsap2'></div>
    <div class='vsap2'></div>
</div>
